@import "../../theme.scss";

main{
    .header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        h2{
            font-size: $header;
            font-weight: normal;
        }
        p{
            font-family: "Montserrat", sans-serif;
            font-size: $header;
        }
    }

    .profile-details{
        background-color: $tile-color;
        //border-radius: 5px;
        padding: 10px;
        display: flex;
        margin-bottom: 15px;
        #profile-picture{
            width: 100px;
            height: 100px;
            overflow: hidden;
            border-radius: 50px;
            background-color: $properties-color;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                font-size: $paragraph;
                text-align: center;
            }
            img{
                height: 100px;
            }
        }
        .properties{
            padding-left: 10px;
            position: relative;

            .property{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 10px;
                .name{
                    //font-family: "Montserrat", sans-serif;
                    font-size: $paragraph;
                    color: $primary-darker;
                    margin-right: 5px;
                    
                }
                .value{
                    font-size: $paragraph;
                }
            }
            svg{
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }

    .menu{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        column-gap: 10px;
        row-gap: 10px;

        .square{
            position: relative;
            width: 100%;
            &::after{
                content: "";
                display: block;
                padding-bottom: 100%;
            }
            .content{
                position: absolute;
                background-color: $tile-color;
                width: 100%;
                height: 100%;
                justify-self: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
    
                h2{
                    font-size: $title;
                    font-weight: normal;
                }
            }
        }

    }
}