@import "../../theme.scss";

main{
    .header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        h2{
            font-size: $header;
            font-weight: normal;
        }
        p{
            font-family: "Montserrat", sans-serif;
            font-size: $header;
        }
    }

    section{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &::after{
            content: "";
            flex: auto;
            flex-basis: 170px;
        }
        div{
            background-color: $tile-color;
            width: 170px;
            height: 170px;
            display: flex;
            margin-bottom: 15px;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2{
                font-size: $title;
                font-weight: normal;
            }
            
        }
    }
}