@import '../../../theme.scss';

.wrapper{
    overflow-y: hidden;
    .new-entry{
        max-height: 90%;
        overflow-y: scroll;
    }
}

textarea{
    background: none;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    resize: none;
    font-size: $title;
    margin-bottom: 30px;
    width: 200px;
}

#years, #months, #days {
    width: 55px;
}

#interval{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

#check-box{
    border: 1px solid $primary-color;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    margin-bottom: 30px;
}
