@import "../../../theme.scss";

.consumption{
    width: 100%;
    display: flex;
    justify-content: center;

    div{
        width: 60%;
        padding-bottom: 10px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: baseline;
        background-color: $tile-color;
        p{
            font-weight: normal;
            font-size: $title;
            margin-top: 10px;
            margin-right: 5px;
        }
        .value{
            font-size: $header;
        }
        .label{
            color: $primary-darker;
        }
    }

}

.section-title{
    color: $primary-darker;
    font-weight: normal;
    font-size: $title;
    margin-top: 10px;
}