<main [class.active]="active">
    <section class="header" >
        <div (click)="changeActive()">
            <h2>{{ car.license_plate }}</h2>
            <p>{{ car.brand }} {{ car.car_model }}</p>
        </div>


        
        <svg (click)="open()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="36px" height="36px"><path d="M9.29 15.88L13.17 12 9.29 8.12c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0l4.59 4.59c.39.39.39 1.02 0 1.41L10.7 17.3c-.39.39-1.02.39-1.41 0-.38-.39-.39-1.03 0-1.42z"/></svg>
    </section>
    <section class="properties" *ngIf="isOpen">
        <div>
            <p class="property">VIN</p>
            <p class="data">{{ car.vin }}</p>
        </div>
        <div>
            <p class="property">LICENSE PLATE</p>
            <p class="data">{{ car.license_plate }}</p>
        </div>
        <div>
            <p class="property">BRAND</p>
            <p class="data">{{ car.brand }}</p>
        </div>
        <div>
            <p class="property">MODEL</p>
            <p class="data">{{ car.car_model }}</p>
        </div>
        <div>
            <p class="property">FUEL TYPE</p>
            <p class="data">{{ car.fuel_type }}</p>
        </div>
        <div>
            <p class="property">RELEASE YEAR</p>
            <p class="data">{{ car.release_year }}</p>
        </div>

        <section class="car-pictures" *ngIf="isPicturesOpen">
            <div *ngFor="let picture of pictures" class="car-picture">
                <div>
                    <img [src]="picture.picture">
                </div>
            </div>
        </section>

        <div class="icons">
            <svg (click)="showPictures()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="36px" height="36px"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.9 13.98l2.1 2.53 3.1-3.99c.2-.26.6-.26.8.01l3.51 4.68c.25.33.01.8-.4.8H6.02c-.42 0-.65-.48-.39-.81L8.12 14c.19-.26.57-.27.78-.02z"/></svg>
            <svg (click)="uploadImage()" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="36px" height="36px"><path d="M0 0h24v24H0V0z" fill="none"/><circle cx="12" cy="12" r="3"/><path d="M20 4h-3.17l-1.24-1.35c-.37-.41-.91-.65-1.47-.65H9.88c-.56 0-1.1.24-1.48.65L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-8 13c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"/></svg>  
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="36px" height="36px"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M3 17.46v3.04c0 .28.22.5.5.5h3.04c.13 0 .26-.05.35-.15L17.81 9.94l-3.75-3.75L3.15 17.1c-.1.1-.15.22-.15.36zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></svg>

        </div>

    </section>
</main>
