@import "./app/theme.scss";

html, body {
     height: 100%;
     position: fixed;
     width: 100%;
}

body{
    background-color: $background-color;
}


*{
    margin: 0; 
    font-family: Poppins;
    color: $primary-color;
}