<main>
    <section id="registration">
        <h2>Registration</h2>
        <form [formGroup]="regForm" (ngSubmit)="register()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="input-field" formControlName="username" name="username">
                <div>
                    <span *ngIf="username.invalid && username.touched">Username is required</span>
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="input-field" formControlName="email" name="email">
                <div>
                    <span *ngIf="email.invalid && email.touched">Email is required</span>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="input-field" formControlName="password" name="password">
                <div>
                    <span *ngIf="password.invalid && password.touched">Password is required</span>
                </div>
            </div>

            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input type="password" class="input-field" formControlName="confirmPassword" name="confirm-password">
                <div>
                    <span *ngIf="confirmPassword.invalid && confirmPassword.touched">Passwords must match</span>
                </div>
            </div>

            <button type="submit" [disabled]="regForm.invalid">Sign Up</button>
        </form>

        <div class="auth-nav-wrapper">
            <p>Already have an account?</p>
            <a href="" class="auth-nav" routerLink="/">Login</a>
        </div>
    </section>
</main>