$background-color: #141822;
$tile-color: #323641;
$properties-color: #3F4552;
$secondary-color: #2565E1;
$secondary-color-light: #538DFE;
$active-nav-btn: #6297FF;
$primary-color: #FFFFFF;
$dark: #000000;
$error: #d63b3b;


$header: 24px;
$paragraph: 14px;
$title: 18px;