@import '../../../../theme.scss';

.active{
    background-color: $secondary-color;
}

.consumption{
    color: $primary-darker;
}

.image-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    height: auto;

    .image{
        height: auto;

        img{
            width: 100%;
            border-radius: 5px;
            height: auto !important;
        }
    }
}

.fuel-header{
    height: 60px;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 36px;
    div{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left: 20px;
        h2{
            font-family: 'Montserrat', sans-serif;
            font-weight: normal;
            font-size: $title;
        }
        p{
            text-align: center;
            font-size: $title;
        }
    }
    svg{

    }
}