@import "../../theme.scss";
main{
    position: relative;
    height: 100%;
    .header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        h2{
            font-size: $header;
            font-weight: normal;
        }
        p{
            font-family: "Montserrat", sans-serif;
            font-size: $header;
        }
    }

    #no-data{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .back{
        position: absolute;
        bottom: 20px;
        left: 5px;
        transform: rotate(180deg);
    }

    .add{
        position: absolute;
        bottom: 20px;
        right: 10px;
    }
}
