@import "../../theme.scss";

main{
    position: relative;
    overflow-y: hidden;
    height: 100%;

    h2{
        font-size: $header;
        font-weight: normal;
        margin-bottom: 20px;
    }
    .add{
        position: absolute;
        bottom: 20px;
        right: 10px;
    }

    section{
        max-height: 90%;
        overflow-y: scroll;

        .spacer{
            height: 80px;
        }
    }
}