<main class="profile-page">
    <div class="header">
        <h2>Profile</h2>
    </div>

    <section class="profile-details">
        <div id="profile-picture">

        </div>

        <div class="properties">
            <div class="property">
                <p class="name">USERNAME</p>
                <p class="value">{{ user.username }}</p>
            </div>
            <div class="property">
                <p class="name">E-MAIL</p>
                <p class="value">{{ user.email }}</p>
            </div>

        </div>
    </section>
</main>

